{% extends "base.html" %}

{% block title %}
	{{ blog_config.title }}
{% endblock title %}

{% block content %}
<div class="row">
    <div class="latest_tile">
        {{ render_post(posts_metadata[0]) }}
    </div>

    {% for post in posts_metadata[1:6] %}
        <div class="tile">
            {{render_post(post)}}
        </div>
    {% endfor %}
</div>

<div class="row">
    <div class="first_tile tile">
      Text
    </div>

    <div class="tile">
      Text
    </div>
    
    <div class="tile">
      Text
    </div>


    <div class="tile">
      Text
    </div>
    
    <div class="tile">
      Text
    </div>


</div>

{% for post in posts_metadata[1:] %}

{% if post.type != 'post' %}
Image ?
{% else %}
	{{ post.title }}
{% endif %}

{% endfor %}
{% endblock %}
