{% extends "base.html" %}

{% block title %}
	{{ blog_config.title }}
{% endblock title %}

{% block content %}
<div class="row">
    <div class="latest_tile">
      post_metadata[1:]
    </div>
    <div class="tile">
      Text
    </div>

    <div class="tile">
      Text
    </div>

    <div class="tile">
      Text
    </div>

    <div class="tile">
      Text
    </div>

    <div class="tile">
      Text
    </div>

    <div class="tile">
      Text
    </div>

</div>

<div class="row">
    <div class="first_tile tile">
      Text
    </div>

    <div class="tile">
      Text
    </div>
    
    <div class="tile">
      Text
    </div>


    <div class="tile">
      Text
    </div>
    
    <div class="tile">
      Text
    </div>


</div>

{% for post in posts_metadata[1:] %}

{% if post.type != 'post' %}
Image ?
{% else %}
	{{ post.title }}
{% endif %}

{% endfor %}
{% endblock %}
